# add homebrew to path
eval "$(/opt/homebrew/bin/brew shellenv)"

# Android path
export ANDROID_HOME=${HOME}/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools
alias emulator=${ANDROID_HOME}/emulator/emulator

# ruby
export PATH="/opt/homebrew/opt/ruby/bin:$PATH"

# go
export GOROOT=$(brew --prefix go)/libexec
export GOPATH=$HOME/go
export PATH=$GOPATH/bin:$GOROOT/bin:$HOME/.local/bin:$PATH

# gem
export GEM_HOME=$HOME/.gem
export PATH=$GEM_HOME/bin:$PATH

# sqlite
export PATH="/opt/homebrew/opt/sqlite/bin:$PATH"

# # jenv
# if [[ -d "$HOME/.jenv/bin" ]]; then
# export PATH="$HOME/.jenv/bin:$PATH"
# eval "$(jenv init -)"
# export JAVA_HOME="$(jenv prefix)"
# fi

# docker-machine
# eval $(docker-machine env default)

export GPG_TTY=$(tty)
#export EDITOR=nvim

# java
export PATH="/opt/homebrew/opt/openjdk@21/bin:$PATH"
export CPPFLAGS="-I/opt/homebrew/opt/openjdk@21/include"
export JAVA_HOME=$(/usr/libexec/java_home -v 21)
# export PATH="/opt/homebrew/opt/openjdk/bin:$PATH"

# postgresql
export PATH="/opt/homebrew/opt/postgresql@17/bin:$PATH"

# docker
export DOCKER_HOST=unix://$HOME/.colima/default/docker.sock

#mysql-client
export PATH="/opt/homebrew/opt/mysql-client@8.4/bin:$PATH"
export PATH="/opt/homebrew/opt/mysql@8.4/bin:$PATH"

# libpq
export PATH="/opt/homebrew/opt/libpq/bin:$PATH"

export LDFLAGS="-L/opt/homebrew/opt/libpq/lib"
export CPPFLAGS="$CPPFLAGS -I/opt/homebrew/opt/libpq/include"

export PKG_CONFIG_PATH="/opt/homebrew/opt/libpq/lib/pkgconfig"
